@font-face {
  font-family: author;
  src: url(Fonts/Author-Regular.otf);
}

@font-face {
  font-family: Fret;
  src: url(Fonts/Fretqwikc-nA71.ttf);
}

html, body {
  margin: 0;
  padding: 0;
  background-color: white;
}

canvas {
  display: block;
  z-index: -1;
}

h1 {
  font-weight: normal;
  font-family: Fret;
  font-size: 24px;
}

p {
  font-family: author;
  font-size: 15px;
  text-align: left;
}

img {
  position: fixed;
  top: 15px;
  right: 10px;

  width: 15px;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: rgb(162, 162, 162);
  cursor: pointer;
}

a:active {
  text-decoration: none;
}


